@import "tailwindcss";


body {
  background: #121212;
}

.max-container {
  max-width: 1440px;
  margin: 0 auto;
}

.btn-1 {
  @apply bg-primary flex items-center justify-center cursor-pointer text-white rounded-xl py-2 px-4;
}

.text-primary {
  @apply text-primary;
}



.border-gray {
  @apply border border-gray-300;
}

@media (max-width: 992px) {
  .max-container {
    max-width: 90%;
  }
}

@theme {
  --color-primary: #D2AC71;
  --color-secondary: #F6EEE5;
  --font-primary: "Montserrat", sans-serif
}